

body {
    
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg-desktop.svg);
    
}

h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  

}

h2{
  color: white;
  font-family: 'Poppins', sans-serif;
  

}

p{
  color: white;
  font-family: 'Poppins', sans-serif;
  
}



  .responsive {
    width: 100%;
    height: auto;
  }
  
  ion-icon {
    color: white;
    font-size: 30px;
  }

  button {
    
    color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  
    
}